[Unit]
Description=Grafana Podman container
Wants=syslog.service

[Service]
Type=simple
TimeoutStartSec=30s
Restart=always
TimeoutStopSec=10s
User=grafana
Group=grafana

Environment=GRAFANA_IMAGE=grafana/grafana:6.2.4
# Kind-a hack, since we need to have same user id in the container as outside
# due to volumes ownership
Environment=ID={{ grafana_user_id }}
EnvironmentFile=/etc/grafana/env

ExecStartPre=-/usr/bin/podman rm "grafana"

ExecStart=/usr/bin/podman run \
    --name "grafana" \
    --userns keep-id \
    --env-file /etc/grafana/env \
    -p 3000:3000 \
    -v /etc/grafana/provisioning:/etc/grafana/provisioning:Z \
    -v /etc/ssl/{{grafana_ssl_cert_name}}:/etc/ssl/grafana.crt:ro \
    -v /etc/ssl/{{grafana_ssl_key_name}}:/etc/ssl/grafana.key:ro \
    ${GRAFANA_IMAGE}

ExecReload=-/usr/bin/podman stop "grafana"
ExecReload=-/usr/bin/podman rm "grafana"

ExecStop=/usr/bin/podman stop -t 10 "grafana"

[Install]
WantedBy=multi-user.target

