---
parameters:
  prefix: "{{ stack_prefix }}"
  domain_name: "{{ domain_name }}"
  bastion_image: "{{ bastion_image }}"
  bastion_keypair_name: "{{ bastion_key_pair }}"
  bastion_flavor: "{{ bastion_flavor }}"
  bastion_ssh_user: "{{ bastion_ssh_user }}"
  executor_image: "{{ executor_image }}"
  executor_keypair_name: "{{ executor_key_pair }}"
  executor_flavor: "{{ executor_flavor }}"
  executor_ssh_user: "{{ executor_ssh_user }}"
  influxdb_image: "{{ influxdb_image }}"
  influxdb_keypair_name: "{{ influxdb_key_pair }}"
  influxdb_flavor: "{{ influxdb_flavor }}"
  influxdb_ssh_user: "{{ influxdb_ssh_user }}"
  influxdb_root_volume_size: "{{ influxdb_root_volume_size | default(12) }}"
  influxdb_storage_volume_size: "{{ influxdb_storage_volume_size | default(500) }}"
  grafana_image: "{{ grafana_image }}"
  grafana_keypair_name: "{{ grafana_key_pair }}"
  grafana_flavor: "{{ grafana_flavor }}"
  grafana_ssh_user: "{{ grafana_ssh_user }}"

resource_registry:
  "Heat::OTC::VPC": "https://raw.githubusercontent.com/opentelekomcloud-infra/heat-templates/master/common/vpc.yaml"
  "Heat::OTC::Server": "https://raw.githubusercontent.com/opentelekomcloud-infra/heat-templates/master/common/server.yaml"
